<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>

<div class="section"><div class="container"><div class="row"><div class="col-md-2"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="#">Groups</a></li><li><a href="#">Program<br></a></li><li><a href="#">Messages</a></li></ul></div><div class="col-md-10"><div class="page-header"><h1>Members <font color="#777777"><span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;">Faith in God For Girls</span></font></h1></div><p>Here is a list of your members. Select one to edit.</p><a class="btn btn-primary">Apply Requirement</a><table class="table"><thead><tr><th>First Name</th><th>Last Name</th><th>Actions</th></tr></thead><tbody><tr><td>Mark</td><td>Otto</td><td>@mdo</td></tr><tr><td>Jacob</td><td>Thornton</td><td>@fat</td></tr><tr><td>Larry</td><td>the Bird</td><td>@twitter</td></tr><tr></tr><a class="btn btn-info">Add Member</a></tbody></table><a class="btn btn-primary">Complete Requirement</a></div></div></div></div><div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Add Requirement to All<br></h4>
          </div>
          <div class="modal-body">
            
            
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group btn-group-justified btn-group-sm"><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Category&nbsp;<span class="fa fa-caret-down"></span></a><ul class="dropdown-menu" role="menu"><li><a href="#">Action</a></li></ul></div><div class="btn-group btn-group-justified btn-group-sm"><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Requirement&nbsp;<span class="fa fa-caret-down"></span></a><ul class="dropdown-menu" role="menu"><li><a href="#">Action</a></li></ul></div><form role="form">
                  <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Date Completion</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="05/05/05" type="email">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Description</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Description of completetion.." type="email">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
            <a class="btn btn-primary">Save changes</a>
          </div>
        </div>
      </div>
    </div></body></html>